* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.FourthGrid_Container {
    width: 100%;
    height: auto;
}

.FourthGrid_Heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #525658;
    text-align: center;
    font-size: 2.4em;
    font-variant: small-caps;
    font-weight: 200;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: .4em;
}

.FourthGrid_Section {
    width: 100%;
    height: auto;

}

.FourthGrid_Main {
    width: 100%;
    height: auto;
}

.FourthGrid_Section_Main_First_Card {
    font-size: 15px;
    font-weight: 800;
    margin: 10px auto 20px auto;
    line-height: 19px;
    letter-spacing: 1px;
    width: 25%;
    height: 400px;
    padding: 10px;
    border: 1px solid #fefefe;
    box-shadow: none;
    cursor: auto;
}

.FourthGrid_Section_Main_First_Card_Heading {
    font-size: 25px;
    font-weight: 400;
    color: #e14b2c;
    text-align: center;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: auto;
}

.FourthGrid_Section_Main_First_Card_Image {
    width: 100%;
    height: 200px;
}

.FourthGrid_Section_Main_First_Card_Paragraph {
    font-size: 18px;
    font-weight: 300;
    color: #999;
    line-height: 19px;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: auto;
}

.FourthGrid_Section_Main_Second_Card_Heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #525658;
    text-align: center;
    font-size: 2.4em;
    font-variant: small-caps;
    font-weight: 200;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: .4em;

}

.FourthGrid_Section_Main_Second_Card {
    width: 90%;
    height: auto;
    margin: 0px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.FourthGrid_Section_Main_Second_Card_Card {
    font-size: 15px;
    font-weight: 800;
    margin: 10px auto 20px auto;
    line-height: 19px;
    letter-spacing: 1px;
    width: 90%;
    height: 400px;
    padding: 10px;
    border: 1px solid #fefefe;
    box-shadow: none;
    cursor: auto;

}

.FourthGrid_Section_Main_First_Card_Card_Heading {
    font-size: 25px;
    font-weight: 400;
    color: #e14b2c;
    text-align: center;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: auto;
}

.FourthGrid_Section_Main_Second_Card_Image {
    width: 100%;
    height: 200px;
}

@media screen and (min-width:1025px) and (max-width:1200px) {

    .FourthGrid_Container {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2.4em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 2em;
        margin-bottom: 2em;
        letter-spacing: .4em;
    }

    .FourthGrid_Section {
        width: 100%;
        height: auto;

    }

    .FourthGrid_Main {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Section_Main_First_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 35%;
        height: 400px;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Heading {
        font-size: 25px;
        font-weight: 600;
        color: #c74126;
        text-align: center;
    }

    .FourthGrid_Section_Main_First_Card_Image {
        width: 100%;
        height: 200px;
    }

    .FourthGrid_Section_Main_First_Card_Paragraph {
        font-size: 18px;
        font-weight: 300;
        color: #999;
        line-height: 19px;
        letter-spacing: 1px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .FourthGrid_Section_Main_Second_Card_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2.4em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: .4em;

    }

    .FourthGrid_Section_Main_Second_Card {
        width: 90%;
        height: auto;
        margin: 0px auto 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .FourthGrid_Section_Main_Second_Card_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 90%;
        height: 400px;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Card_Heading {
        font-size: 25px;
        font-weight: 400;
        color: #e14b2c;
        text-align: center;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: auto;
    }

    .FourthGrid_Section_Main_Second_Card_Image {
        width: 100%;
        height: 200px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {

    .FourthGrid_Container {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2.4em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 2em;
        margin-bottom: 2em;
        letter-spacing: .4em;
    }

    .FourthGrid_Section {
        width: 100%;
        height: auto;

    }

    .FourthGrid_Main {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Section_Main_First_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 45%;
        height: 400px;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Heading {
        font-size: 25px;
        font-weight: 600;
        color: #c74126;
        text-align: center;
    }

    .FourthGrid_Section_Main_First_Card_Image {
        width: 100%;
        height: 200px;
    }

    .FourthGrid_Section_Main_First_Card_Paragraph {
        font-size: 18px;
        font-weight: 300;
        color: #999;
        line-height: 19px;
        letter-spacing: 1px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .FourthGrid_Section_Main_Second_Card_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2.4em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: .4em;

    }

    .FourthGrid_Section_Main_Second_Card {
        width: 90%;
        height: auto;
        margin: 0px auto 30px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .FourthGrid_Section_Main_Second_Card_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 90%;
        height: 400px;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Card_Heading {
        font-size: 25px;
        font-weight: 400;
        color: #e14b2c;
        text-align: center;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: auto;
    }

    .FourthGrid_Section_Main_Second_Card_Image {
        width: 100%;
        height: 200px;
    }

}

@media screen and (min-width:481px) and (max-width:768px) {

    .FourthGrid_Container {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2.4em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 2em;
        margin-bottom: 2em;
        letter-spacing: .4em;
    }

    .FourthGrid_Section {
        width: 100%;
        height: auto;

    }

    .FourthGrid_Main {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Section_Main_First_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 70%;
        height: 400px;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Heading {
        font-size: 25px;
        font-weight: 600;
        color: #c74126;
        text-align: center;
    }

    .FourthGrid_Section_Main_First_Card_Image {
        width: 100%;
        height: 200px;
    }

    .FourthGrid_Section_Main_First_Card_Paragraph {
        font-size: 18px;
        font-weight: 300;
        color: #999;
        line-height: 19px;
        letter-spacing: 1px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .FourthGrid_Section_Main_Second_Card_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2.4em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: .4em;

    }

    .FourthGrid_Section_Main_Second_Card {
        width: 100%;
        height: auto;
        margin: 0px auto 30px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .FourthGrid_Section_Main_Second_Card_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 70%;
        height: 400px;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Card_Heading {
        font-size: 25px;
        font-weight: 400;
        color: #e14b2c;
        text-align: center;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: auto;
    }

    .FourthGrid_Section_Main_Second_Card_Image {
        width: 100%;
        height: 200px;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {

    .FourthGrid_Container {
        width: 100%;
        height: auto;

    }

    .FourthGrid_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 2em;
        margin-bottom: 2em;
        letter-spacing: .2em;
    }

    .FourthGrid_Section {
        width: 100%;
        height: auto;

    }

    .FourthGrid_Main {
        width: 100%;
        height: auto;
    }

    .FourthGrid_Section_Main_First_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 80%;
        height: 100%;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Heading {
        font-size: 25px;
        font-weight: 600;
        color: #c74126;
        text-align: center;
    }

    .FourthGrid_Section_Main_First_Card_Image {
        width: 100%;
        height: 200px;
    }

    .FourthGrid_Section_Main_First_Card_Paragraph {
        font-size: 18px;
        font-weight: 300;
        color: #999;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .FourthGrid_Section_Main_Second_Card_Heading {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #525658;
        text-align: center;
        font-size: 2em;
        font-variant: small-caps;
        font-weight: 200;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: .2em;
    }

    .FourthGrid_Section_Main_Second_Card {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

    }

    .FourthGrid_Section_Main_Second_Card_Card {
        font-size: 15px;
        font-weight: 800;
        margin: 10px auto 20px auto;
        line-height: 19px;
        letter-spacing: 1px;
        width: 75% !important;
        height: 100%;
        padding: 10px;
        border: 1px solid #fefefe;
        box-shadow: none;
        cursor: auto;
    }

    .FourthGrid_Section_Main_First_Card_Card_Heading {
        font-size: 25px;
        font-weight: 400;
        color: #e14b2c;
        text-align: center;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: auto;
    }

    .FourthGrid_Section_Main_Second_Card_Image {
        width: 100%;
        height: 200px;
    }

}