* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.BnglTableHeader_Container {
   width: 80%;
   height: auto;
   padding: 2px;
   margin: 110px auto;
}

#Bngl_AppBar {
   background-color: rgb(115, 140, 136);
   width: 100%;
}

.Bngl_Heading {
   font-size: 28px;
   font-weight: 600;
   color: white;
}

.Bngl_CardList_MobileDevice {
   display: none;
}

@media screen and (min-width:1025px) and (max-width:1200px) {
   .BnglTableHeader_Container {
      width: 90%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
   }

   #Bngl_AppBar {
      background-color: rgb(115, 140, 136);
      width: 100%;
   }

   .Bngl_Heading {
      font-size: 28px;
      font-weight: 600;
      color: white;
   }

   .Bngl_CardList_MobileDevice {
      display: none;
   }
}

@media screen and (min-width:769px) and (max-width:1024px) {
   .BnglTableHeader_Container {
      width: 80%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
   }


   #Bngl_AppBar {
      background-color: rgb(115, 140, 136);
      width: 100%;
   }

   .Bngl_CardList_MobileDevice {
      width: 80%;
      display: block;
      margin: 15px auto;
   }

   .Bngl_TableList_LargeDevice {
      display: none;
   }

   .Bngl_Card_Mobile {
      width: 100%;
      margin: 10px auto 0 auto;
   }

   .Bngl_Mobile_Card_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Bngl_Mobile_Card_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }

   .Bngl_Card_Img {
      max-width: 40px;
      max-height: 40px;
      margin: 2px;
      padding: 2px;
      object-fit: contain;
   }

}


@media screen and (min-width:481px) and (max-width:768px) {

   .BnglTableHeader_Container {
      width: 90%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
   }


   #Bngl_AppBar {
      background-color: rgb(115, 140, 136);
      width: 100%;
   }

   .Bngl_CardList_MobileDevice {
      width: 90%;
      display: block;
      margin: 15px auto;
   }

   .Bngl_TableList_LargeDevice {
      display: none;
   }

   .Bngl_Card_Mobile {
      width: 100%;
      margin: 10px auto 0 auto;
   }

   .Bngl_Mobile_Card_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Bngl_Mobile_Card_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }

   .Bngl_Card_Img {
      max-width: 40px;
      max-height: 40px;
      margin: 2px;
      padding: 2px;
      object-fit: contain;
   }

}


@media screen and (min-width:320px) and (max-width:480px) {

   .BnglTableHeader_Container {
      width: 98%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
   }


   #Bngl_AppBar {
      background-color: rgb(115, 140, 136);
      width: 100%;
   }

   .Bngl_CardList_MobileDevice {
      width: 100%;
      display: block;
      margin: 15px auto;
   }

   .Bngl_TableList_LargeDevice {
      display: none;
   }

   .Bngl_Card_Mobile {
      width: 100%;
      margin: 10px auto 0 auto;
   }

   .Bngl_Mobile_Card_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Bngl_Mobile_Card_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }

   .Bngl_Card_Img {
      max-width: 40px;
      max-height: 40px;
      margin: 2px;
      padding: 2px;
      object-fit: contain;
   }

}