* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#EranTable_Grid {
   width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: 3fr 8fr 1fr;
   grid-template-rows: auto;
   grid-column-gap: 10px;
}

.Eran_Grid_Left {
   margin-top: 110px;

   height: auto;
}

.EranTableHeader_Container {
   width: 100%;
   height: auto;
   padding: 2px;
   margin: 110px auto;
}

#Eran_AppBar {
   background-color: rgb(115, 140, 136);
   width: 100%;
}

.Eran_Heading {
   font-size: 28px;
   font-weight: 600;
   color: white;
}

.EranTableHeader_Section_Left {
   width: 300px;
   display: flex;
   justify-content: space-between;
   border-radius: 10px;
   margin: 10px 0px 5px 10px;
   align-items: center;
   background-color: white;
}

.Eran_Grid_Right {
   margin-top: 110px;
   height: auto;

}



.EranTableDetails_Container {
   width: 100%;
   height: auto;
   padding: 5px;
   margin: 70px auto;
   box-sizing: border-box;


}

.EranTableDetails_Main {
   width: 80%;
   height: auto;
   padding: 40px 20px;
   margin: auto;
   box-sizing: border-box;
}

.EranTableDetails_Heading {
   font-size: 28px;
   font-weight: 600;
   text-align: center;
   color: black;
   padding: 20px 0;
}

.EranTableDetails_Data {
   width: 45%;
   height: auto;
   display: flex;
   justify-content: space-between;
   padding: 7px 10px;
   align-items: center;
   margin: 20px auto;



}

.Eran_Details_Left {
   font-size: 28px;
   font-weight: 600;
   color: #3a3c3e;
}

.Eran_Details_Right {
   font-size: 20px;
   font-weight: 500;
   color: #3a3c3e;
}


.EranTableDetails_Data_Image_Box {
   display: flex;
   align-items: center;
}

.EranTableDetails_Data_Image_Box>.DetailsImage {
   width: auto;
   height: 60px;
   margin: 4px;
   padding: 2px;
}



.Eran_CardList_MobileDevice {
   display: none;
}

@media screen and (min-width:1025px) and (max-width:1200px) {
   #EranTable_Grid {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-row: auto;
      grid-column-gap: 10px;
   }

   .Eran_Grid_Left {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-top: 110px;

   }

   .EranTableHeader_Container {
      width: 100%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
      grid-column-start: 4;
      grid-column-end: 11;
   }


   #Eran_AppBar {
      background-color: rgb(115, 140, 136);
      width: 100%;
   }

   .Eran_Heading {
      font-size: 28px;
      font-weight: 600;
      color: white;
   }

   .EranTableHeader_Section_Left {
      width: 300px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      margin: 10px 0px 5px 10px;
      align-items: center;
      background-color: white;
   }


   .Eran_Grid_Right {
      grid-column-start: 11;
      grid-column-end: 12;
      margin-top: 110px;

   }

   .EranTableDetails_Container {
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 70px auto;
      box-sizing: border-box;


   }

   .EranTableDetails_Main {
      width: 80%;
      height: auto;
      padding: 40px 20px;
      margin: auto;
      box-sizing: border-box;
   }

   .EranTableDetails_Heading {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: black;
      padding: 20px 0;
   }

   .EranTableDetails_Data {
      width: 65%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 7px 10px;
      align-items: center;
      margin: 20px auto;



   }

   .Eran_Details_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Eran_Details_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }


   .EranTableDetails_Data_Image_Box {
      display: flex;
      align-items: center;
   }

   .DetailsImage {
      width: auto;
      height: 60px;
      margin: 4px;
      padding: 2px;
      object-fit: contain;
   }


   .CardList_MobileDevice {
      display: none;
   }

}

@media screen and (min-width:769px) and (max-width:1024px) {
   #EranTable_Grid {
      width: 100% !important;
      height: auto;
      display: block !important;
   }


   .Eran_Grid_Left {
      display: none;

   }

   .Eran_Grid_Right {
      display: none;

   }

   #EranTable_Grid {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-row: auto;
      grid-column-gap: 10px;
      padding: 10px;
   }

   .Eran_Grid_Left {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-top: 110px;

   }

   .EranTableHeader_Container {
      grid-column-start: 4;
      grid-column-end: 10;
      width: 100%;
      height: auto;
      padding: 2px;
      margin: 110px auto;

   }

   #Eran_AppBar {
      background-color: rgb(115, 140, 136);
      width: 100%;
   }

   .Eran_Heading {
      font-size: 28px;
      font-weight: 600;
      color: white;
   }

   .EranTableHeader_Section_Left {
      width: 300px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      margin: 10px 0px 5px 10px;
      align-items: center;
      background-color: white;
   }

   .Eran_Grid_Right {
      grid-column-start: 10;
      grid-column-end: 12;
      margin-top: 110px;

   }

   .EranTableDetails_Container {
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 70px auto;
      box-sizing: border-box;


   }

   .EranTableDetails_Main {
      width: 80%;
      height: auto;
      padding: 40px 20px;
      margin: auto;
      box-sizing: border-box;
   }

   .EranTableDetails_Heading {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: black;
      padding: 20px 0;
   }

   .EranTableDetails_Data {
      width: 75%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 7px 10px;
      align-items: center;
      margin: 20px auto;



   }

   .Eran_Details_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Eran_Details_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }


   .EranTableDetails_Data_Image_Box {
      display: flex;
      align-items: center;
   }

   .DetailsImage {
      width: auto;
      height: 60px;
      margin: 4px;
      padding: 2px;
      object-fit: contain;
   }


   .Eran_CardList_MobileDevice {
      display: none !important;
   }
}


@media screen and (min-width:481px) and (max-width:768px) {
   #EranTable_Grid {
      width: 100% !important;
      height: auto;
      display: block !important;
   }


   .Eran_Grid_Left {
      display: none;

   }

   .Eran_Grid_Right {
      display: none;

   }

   .EranTableHeader_Container {
      width: 90%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
   }

   .Eran_CardList_MobileDevice {
      width: 80%;
      display: block;
      margin: 15px auto;
   }

   .Eran_TableList_LargeDevice {
      display: none;
   }

   .Eran_Card_Mobile {
      width: 100%;
      margin: 10px auto 0 auto;
   }

   .Eran_Mobile_Card_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Eran_Mobile_Card_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }

   .Eran_Card_Img {
      max-width: 40px;
      max-height: 40px;
      margin: 2px;
      padding: 2px;
      object-fit: contain;
   }

   .EranTableHeader_Section_Left {
      width: 250px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      margin: 10px 0px 5px 10px;
      align-items: center;
      background-color: white;
   }

   .EranTableDetails_Container {
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 70px auto;
      box-sizing: border-box;


   }

   .EranTableDetails_Main {
      width: 80%;
      height: auto;
      padding: 40px 20px;
      margin: auto;
      box-sizing: border-box;
   }

   .EranTableDetails_Heading {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: black;
      padding: 20px 0;
   }

   .EranTableDetails_Data {
      width: 85%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 7px 10px;
      align-items: center;
      margin: 20px auto;



   }

   .Eran_Details_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Eran_Details_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }


   .EranTableDetails_Data_Image_Box {
      display: flex;
      align-items: center;
   }

   .DetailsImage {
      width: auto;
      height: 60px;
      margin: 4px;
      padding: 2px;
      object-fit: contain;
   }



}

@media screen and (min-width:320px) and (max-width:480px) {
   #EranTable_Grid {
      width: 100% !important;
      height: auto;
      display: block !important;
   }


   .Eran_Grid_Left {
      display: none;

   }

   .Eran_Grid_Right {
      display: none;

   }

   .EranTableHeader_Container {
      width: 98%;
      height: auto;
      padding: 2px;
      margin: 110px auto;
   }

   .Eran_Heading {
      font-size: 18px !important;
      font-weight: 600;
      color: white;
   }

   .Eran_CardList_MobileDevice {
      width: 100%;
      display: block;
      margin: 15px auto;
   }

   .Eran_TableList_LargeDevice {
      display: none;
   }

   .Eran_Card_Mobile {
      width: 100%;
      margin: 10px auto 0 auto;
   }

   .Eran_Mobile_Card_Left {
      font-size: 28px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Eran_Mobile_Card_Right {
      font-size: 20px;
      font-weight: 500;
      color: #3a3c3e;
   }

   .Eran_Card_Img {
      max-width: 40px;
      max-height: 40px;
      margin: 2px;
      padding: 2px;
      object-fit: contain;
   }

   .EranTableHeader_Section_Left {
      width: 250px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      margin: 10px 0px 5px 10px;
      align-items: center;
      background-color: white;
   }

   .EranTableDetails_Container {
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 70px auto;
      box-sizing: border-box;


   }

   .EranTableDetails_Main {
      width: 100%;
      height: auto;
      padding: 40px 5px;
      margin: auto;
      box-sizing: border-box;
   }

   .EranTableDetails_Heading {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: black;
      padding: 20px 0;
   }

   .EranTableDetails_Data {
      width: 98%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 7px 10px;
      align-items: center;
      margin: 20px auto;



   }

   .Eran_Details_Left {
      font-size: 17px;
      font-weight: 600;
      color: #3a3c3e;
   }

   .Eran_Details_Right {
      font-size: 15px;
      font-weight: 500;
      color: #3a3c3e;
   }


   .EranTableDetails_Data_Image_Box {
      display: flex;
      align-items: center;
   }

   .DetailsImage {
      width: auto;
      height: 40px;
      margin: 2px;
      padding: 2px;
   }

}