* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#ContactTable_Grid {
    width: 100%;
    height: auto;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
}

.Contact_Grid_Left {

    width: 100%;

}

.Contact_Container {
    width: 100%;
    height: 300px;
    margin: 110px 0px 0px 0px;
    padding-top: 10px;
    box-sizing: border-box;

}

.Contact_Main {
    width: 100%;
    height: 30vh;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.Contact_Box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    gap: 20px;

}

.icon {
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 50%;
    font-size: 22px;
}

.Contact_Heading {
    font-size: 20px;
    font-weight: 600;
    color: #3a3c3e;
    margin-bottom: 5px;
}

.text>p {
    font-size: 18px;
    font-weight: 500;
    color: #3a3c3e;
    line-height: 1.5em;
}

.Contact_Grid_Right {

    width: 100%;

}

.Contact_map {
    width: 90%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

.Contact_map_map {
    width: 100%;
    height: 400px;

}

@media screen and (min-width:1025px) and (max-width:1200px) {
    .Contact_Container {
        width: 100%;
        height: 400px;
        margin: 110px 0px 0px 0px;
        padding-top: 10px;
        box-sizing: border-box;

    }

    .Contact_Main {
        width: 90%;
        height: 30vh;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .Contact_Box {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: flex-start;
        font-size: 18px;
        gap: 20px;

    }

    .icon {
        width: 50px;
        height: 50px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: baseline;
        border-radius: 50%;
        font-size: 22px;
    }

    .Contact_Heading {
        font-size: 20px;
        font-weight: 600;
        color: #3a3c3e;
        margin-bottom: 5px;
    }

    .text>p {
        font-size: 18px;
        font-weight: 500;
        color: #3a3c3e;
    }

    .Contact_map {
        width: 90%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
    }

    .Contact_map_map {
        width: 100%;
        height: 400px;

    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #ContactTable_Grid {
        width: 100% !important;
        height: auto;
        display: block !important;
    }


    .Contact_Grid_Left {
        display: none;

    }

    .Contact_Grid_Right {
        display: none;

    }

    .Contact_Container {
        width: 100%;
        height: 400px;
        margin: 110px 0px 0px 0px;
        padding-top: 10px;
        box-sizing: border-box;

    }

    .Contact_Main {
        width: 100%;
        height: 30vh;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .Contact_Box {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: flex-start;
        font-size: 18px;
        gap: 20px;
        padding: 5px;
    }

    .icon {
        width: 40px;
        height: 40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: baseline;
        border-radius: 50%;
        font-size: 22px;
    }

    .Contact_Heading {
        font-size: 18px;
        font-weight: 600;
        color: #3a3c3e;
        margin-bottom: 5px;
    }

    .text>p {
        font-size: 16px;
        font-weight: 500;
        color: #3a3c3e;
    }

    .Contact_map {
        width: 90%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
    }

    .Contact_map_map {
        width: 100%;
        height: 400px;

    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    #ContactTable_Grid {
        width: 100% !important;
        height: auto;
        display: block !important;
    }


    .Contact_Grid_Left {
        display: none;

    }

    .Contact_Grid_Right {
        display: none;

    }

    .Contact_Container {
        width: 100%;
        height: auto !important;
        margin: 110px 0px 0px 0px;
        padding-top: 10px;
        box-sizing: border-box;

    }

    .Contact_Main {
        width: 60% !important;
        height: auto !important;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;


    }

    .Contact_Box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        font-size: 18px;
        gap: 20px;
        margin: 15px auto 15px auto;

    }

    .icon {
        width: 50px;
        height: 50px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: baseline;
        border-radius: 50%;
        font-size: 22px;
    }

    .Contact_Heading {
        font-size: 20px;
        font-weight: 600;
        color: #3a3c3e;
        margin-bottom: 5px;
    }

    .text>p {
        font-size: 18px;
        font-weight: 500;
        color: #3a3c3e;
    }

    .Contact_map {
        width: 95%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
    }

    .Contact_map_map {
        width: 100%;
        height: 400px;

    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    #ContactTable_Grid {
        width: 100% !important;
        height: auto;
        display: block !important;
    }


    .Contact_Grid_Left {
        display: none;

    }

    .Contact_Grid_Right {
        display: none;

    }

    .Contact_Container {
        width: 100%;
        height: auto !important;
        margin: 110px 0px 0px 0px;
        padding-top: 10px;
        box-sizing: border-box;

    }

    .Contact_Main {
        width: 90% !important;
        height: auto !important;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;


    }

    .Contact_Box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start !important;
        font-size: 18px;
        gap: 20px;
        margin: 15px auto 15px auto;

    }

    .icon {
        width: 50px;
        height: 50px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: baseline;
        border-radius: 50%;
        font-size: 22px;
    }

    .Contact_Heading {
        font-size: 20px;
        font-weight: 600;
        color: #3a3c3e;
        margin-bottom: 5px;
    }

    .text>p {
        font-size: 18px;
        font-weight: 500;
        color: #3a3c3e;
    }

    .Contact_map {
        width: 95%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
    }

    .Contact_map_map {
        width: 100%;
        height: 400px;

    }
}