* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ThirdImage_Container {
    width: 100%;
    height: auto;
    background-color: #ddd;
}

.ThirdImage_Section {
    max-width: 600px;
    height: auto;
    margin: auto;
}

.ThirdImage_Section>p {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    line-height: 1.7em;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1em;
}

.ThirdImage_Section>p>span {
    color: #e14b2c;
    font-weight: 700;
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    .ThirdImage_Container {
        width: 100%;
        height: auto;
        background-color: #ddd;
    }

    .ThirdImage_Section {
        max-width: 660px;
        height: auto;
        margin: auto;
    }

    .ThirdImage_Section>p {
        font-size: 28px;
        font-weight: 400;
        padding: 20px 0px 20px 0px;
        text-align: center;
        line-height: 1.7em;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: .1em;
    }

    .ThirdImage_Section>p>span {
        color: #e14b2c;
        font-weight: 700;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .ThirdImage_Container {
        width: 100%;
        height: auto;
        background-color: #ddd;
    }

    .ThirdImage_Section {
        max-width: 660px;
        height: auto;
        margin: auto;
    }

    .ThirdImage_Section>p {
        font-size: 28px;
        font-weight: 400;
        padding: 20px 0px 20px 0px;
        text-align: center;
        line-height: 1.7em;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: .1em;
    }

    .ThirdImage_Section>p>span {
        color: #e14b2c;
        font-weight: 700;
    }

}

@media screen and (min-width:481px) and (max-width:768px) {
    .ThirdImage_Container {
        width: 100%;
        height: auto;
        background-color: #ddd;
    }

    .ThirdImage_Section {
        max-width: 70%;
        height: auto;
        margin: auto;
    }

    .ThirdImage_Section>p {
        font-size: 22px;
        font-weight: 400;
        padding: 20px 0px 20px 0px;
        text-align: center;
        line-height: 1.7em;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: .1em;
    }

    .ThirdImage_Section>p>span {
        color: #e14b2c;
        font-weight: 700;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    .ThirdImage_Container {
        width: 100%;
        height: auto;
        background-color: #ddd;
    }

    .ThirdImage_Section {
        max-width: 80%;
        height: auto;
        margin: auto;
    }

    .ThirdImage_Section>p {
        font-size: 22px;
        font-weight: 400;
        padding: 20px 0px 20px 0px;
        text-align: center;
        line-height: 1.7em;
        font-variant: small-caps;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: .1em;
    }

    .ThirdImage_Section>p>span {
        color: #e14b2c;
        font-weight: 700;
    }
}