* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar_Container {
    width: 100%;
    height: 110px;
    background-color: #d0d0d0;
    position: fixed;
    z-index: 10;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    left: 0;
}

.Navbar_Section {
    width: 95%;
    height: 110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar_Left_Side {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.Navbar_Left_Side>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 8px;
}

.Navbar_Left_Side>h3 {
    font-weight: 600;
    font-size: 18px;
    color: #c74126;
}

.Navbar_Right_Side {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.Navbar_Right_Side>ul>li {
    list-style: none;

}

#Navbar_Right_Side_Item {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 5px;
    color: #c74126;
    font-size: 18px;
    font-weight: 600;
}

.Navbar_Menu,
.Navbar_Close {
    display: none;
}


@media screen and (min-width:1025px) and (max-width:1200px) {
    .Navbar_Container {
        width: 100%;
        height: 110px;
        background-color: #d0d0d0;
        position: fixed;
        z-index: 10;
        margin-left: 0;
        margin-right: 0;
        top: 0;
        left: 0;
    }


    .Navbar_Left_Side>img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .Navbar_Left_Side>h3 {
        font-weight: 600;
        font-size: 22px;
        color: #c74126;
    }

    .Navbar_Right_Side {
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
    }

    .Navbar_Right_Side>ul>li {
        list-style: none;

    }

    #Navbar_Right_Side_Item {
        text-decoration: none;
        padding-left: 15px;
        padding-right: 5px;
        color: #c74126;
        font-size: 22px;
        font-weight: 600;
    }

    .Navbar_Menu,
    .Navbar_Close {
        display: none;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .Navbar_Container {
        width: 100%;
        height: 110px;
        background-color: #d0d0d0;
        position: fixed;
        z-index: 10;
        margin-left: 0;
        margin-right: 0;
        top: 0;
        left: 0;
    }


    .Navbar_Left_Side>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .Navbar_Left_Side>h3 {
        font-weight: 600;
        font-size: 16px;
        color: #c74126;
    }

    .Navbar_Right_Side {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        align-items: center;
    }

    .Navbar_Right_Side>ul>li {
        list-style: none;

    }

    #Navbar_Right_Side_Item {
        text-decoration: none;
        padding-left: 15px;
        padding-right: 5px;
        color: #c74126;
        font-size: 16px;
        font-weight: 600;
    }

    .Navbar_Menu,
    .Navbar_Close {
        display: none;
    }

}


@media screen and (min-width:481px) and (max-width:768px) {
    .Navbar_Container {
        width: 100%;
        height: 110px;
        background-color: #d0d0d0;
        position: fixed;
        z-index: 10;
        margin-left: 0;
        margin-right: 0;
        top: 0;
        left: 0;
    }


    .Navbar_Left_Side>img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .Navbar_Left_Side>h3 {
        font-weight: 600;
        font-size: 22px;
        color: #c74126;
    }


    .Navbar_Right_Side {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgb(199, 230, 230);
        transition: 1s;
        transform: translate(-100%);
    }

    .Navbar_Right_Side>ul>li {
        list-style: none;

    }

    #Navbar_Right_Side_Item {
        text-decoration: none;
        padding-left: 15px;
        padding-right: 5px;
        color: #c74126;
        font-size: 35px;
        font-weight: 600;
    }

    .Navbar_responsive_nav {
        transform: none;

    }

    .Navbar_Menu {
        display: block !important;
        font-size: 25px;
        font-weight: 600;
        color: #c74126;
        cursor: pointer !important;
    }

    .Navbar_Close {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        color: #c74126;
        font-size: 28px;
        font-weight: 600;
        cursor: pointer;

    }



}


@media screen and (min-width:320px) and (max-width:480px) {
    .Navbar_Container {
        width: 100%;
        height: 110px;
        background-color: #d0d0d0;
        position: fixed;
        z-index: 10;
        margin-left: 0;
        margin-right: 0;
        top: 0;
        left: 0;
    }


    .Navbar_Left_Side>img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .Navbar_Left_Side>h3 {
        font-weight: 600;
        font-size: 18px;
        color: #c74126;
    }

    .Navbar_Right_Side {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgb(199, 230, 230);
        transition: 1s;
        transform: translate(-100%);
    }

    .Navbar_Right_Side>ul>li {
        list-style: none;

    }

    #Navbar_Right_Side_Item {
        text-decoration: none;
        padding-left: 15px;
        padding-right: 5px;
        color: #c74126;
        font-size: 30px;
        font-weight: 600;
    }

    .Navbar_responsive_nav {
        transform: none;
    }

    .Navbar_Menu {
        display: block !important;
        font-size: 25px;
        font-weight: 600;
        color: #c74126;
        cursor: pointer !important;
    }

    .Navbar_Close {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        color: #c74126;
        font-size: 28px;
        font-weight: 600;
    }


}